h2 {

}
.display {
    display: grid;
    grid-template-areas: 
    "current current history"
    "forcast forcast .";
    width: 75%;
    margin: 0 auto;
}
#header{
    color: white;
    text-align: center;
    border: 2px solid black;
    background-color: teal;
    padding-bottom: 30px;
    padding-top: 60px;
    width: 75%;
    margin: 0 auto;
}
#current-city{
    grid-area: current;
    background-color: lightgrey;
    border: 1px solid teal;
    text-align: center;
    padding-bottom: 10px;
    
}

.history {
    grid-area: history;
    text-align: center;
}

#previous-searches{

}

#forcast{
    grid-area: forcast;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "today tomorrow day-after";
   
}
#today{
    grid-area: today;
    text-align: center;
}

#tomorrow{
    grid-area: tomorrow;
    text-align: center;
}

#day-after{
    
    text-align: center;
}
#today-average{
    text-align: center;
}
#today-max{
    text-align: center;
}
#today-min{
    text-align: center;
}
#tomorrow-average{
    text-align: center;
}

#tomorrow-max{

}

#tomorrow-min{
    text-align: center;
}

#day-average{
    text-align: center;
}

#day-max{
   text-align: center;

}

#day-min{
    
}