.display > *{
    border: 1px solid red;
}
.error-message{

}

.display {
    display: grid;
    grid-template-areas: 
    "header header header"
    "current current history"
    "forecast forecast .";
    grid-gap: 10px;
    max-width: 900px;
    width: 75%;
    margin: 0 auto;
    
}
#header{
    grid-area: header;
    color: white;
    text-align: center;
    /* border: 2px solid black; */
    background-color: teal;
    /* padding-left: 60px; */
    
}
#current-city{
    grid-area: current;
    background-color: lightgrey;
    /* border: 1px solid teal; */
    text-align: center;  
}

.history {
    grid-area: history;
    text-align: center;
}

#previous-searches{

}

#forecast{
    grid-area: forecast;
    display: grid;
    /* grid-gap: 15px; */
    grid-template-areas: 
    "today tomorrow day-after";
   
}
#today{
    grid-area: today;
    text-align: center;
}

#tomorrow{
    grid-area: tomorrow;
    text-align: center;
}

#day-after{
    
    text-align: center;
}
#today-average{
    text-align: center;
}
#today-max{
    text-align: center;
}
#today-min{
    text-align: center;
}
#tomorrow-average{
    text-align: center;
}

#tomorrow-max{

}

#tomorrow-min{
    text-align: center;
}

#day-average{
    text-align: center;
}

#day-max{
   text-align: center;

}

#day-min{
    
}